/* Container holding the image and the text */
.mycontainer {
    position: relative;
    text-align: center;
    color: white;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* text overlay on image */
.myTitle {
	font-size: 1.5rem;
}

.cropCenter {
    background-position: center center;
    background-repeat: no-repeat;
}

/* Container holding the image and the button */
.mycontainer img {
    width: 100%;
    height: auto;
}

/* a.jumper{
	font-size: 2rem;
}
a.jumper:link {color:#ff0000;}
a.jumper:visited {color:#0000ff;}
a.jumper:hover {color:#ffcc00;} */



