.main-header {
    position: absolute;
    z-index: 1;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    width: 100%;
    height: auto;
    padding: 20px;
}

.logo {
    float: left;
}

.top-navigation ul {
    list-style: none;
    float: right;
}

.top-navigation li {
    display: inline-block;
    padding: 10px;
}

.top-navigation a {
    font-size: 25px;
    color: #fff;
    font-weight: 400;
}

.top-navigation a:hover {
    color: #333;
    font-weight: 700;
    text-decoration: none;
}