$font-stack:    Helvetica, sans-serif;
$primary-color: rgb(223, 132, 223);
$break-small: 320px;
$break-medium: 600px;
$break-large: 1200px;

body {
    font: 100% $font-stack;
    //background-color: tan;
    font-family: cursive;
    font-size: medium;
} 

.eventStyle {
    //background-color: $primary-color;
    .eventHeader {
        background-color: rgb(253, 193, 115);
    }
    .eventImage {
        width: 100%;
        height: auto;
    }
}


.grid-container {
  display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    .item3 {
        font-family: 'Franklin Gothic Medium';
        background-color: antiquewhite;
        text-align: center;
    }
    .item4{
        background-color: antiquewhite;
        text-align: end;
        font-family: fantasy;
    }
    .item5 {
        justify-content: flex-start; 
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        grid-column: 1/3;
        background-color: antiquewhite; 
    }
}


.grid-container > div {
    float: right;
    font-size: 20px;
}