<!doctype html>
<html class="no-js" lang="">
<head>

	<meta charset="utf-8">
	<head>
		<meta charset="utf-8">
		<title></title>

		<link rel="stylesheet" href="css/cta.css">
	</head>

	<body>
		<!-- Add your site or application content here -->
		<div>
			<div class="container">
				<img src="img/jazz.jpg" alt="Snow">
				<div class="centered">

					<h1 class = "entry-title">Create your event now with FooBar</h1>
					<a class="jumper" href = "#createEventForm">Create Now</button>

					</div>
				</div>
				<!-- Landing elements -->
				<div id="createEventForm">createEventForm</div>
			</div>

		</body>

		</html>
