<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <script src="node_modules/handlebars/dist/handlebars.min.js"></script>

  <link rel="stylesheet" href="css/events.css">
</head>

<body>
  <!-- Add your site or application content here -->

  <div id="event"></div>
  </section>
  <script id="event-template" type="text/x-handlebars-template">
  <section class="">
 {{#each items}} <h4>{{eventTitle}}</h4>
    <div class="eventStyle">
      <div class="grid-container">
          <div class="item2"><img src="{{getImage}}" class="eventImage" alt="event image" /></div>
          <div class="grid-container">
            <div class="item3">{{getLocation}}</div>  
            <div class="item4">{{getDate}}</div>
            <div class="item5">{{getDescription}}</div>
          </div>
      </div>
    </div>
      {{/each}}
    </div> 
  </section>
  </script>

  <script src="js/events.js"></script>

</body>

</html>